<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "New flight", new_flight_path %>
