
<h1>Flights</h1>

<%= form_with url: '/flights', method: :get do |form| %>
  <%= 'Departure Airport :' %>
  <%= form.collection_select :departure_id, @departures, :id, :city %><br>
  <%= 'Arrival Airport :' %>
  <%= form.collection_select :arrival_id, @arrivals, :id, :city %><br>
  <%= 'How many passengers : ' %>
  <%= form.select :passengers, [1,2,3,4] %><br>
  <%= 'Date : ' %>
  <%= form.select :date, options_for_select(@dates) %><br>
  <%= form.submit "Search" %>
<% end %><br><br>

<% if params[:departure_id].present? %>
  <h3>Flights available</h3><br>
  <% if @results.empty? %>
    <%= 'There is currently no flight available' %>
  <% else %>
    <%= form_with url: '/bookings/new', method: :get do |form| %>

      <%= form.collection_radio_buttons :flight_id, @results.order(:id), :id, :id %>
      <%= form.hidden_field :passengers, value: params[:passengers] %>
      <%= form.submit "Select" %>
    <% end %>
  <% end %>
<% end %>



