<h1>New booking</h1>

 <% if @flight %>
  <%= "Chosen date: #{@flight.time}" %><br>
  <%= "Chosen airport departure: #{@flight.departure.name}" %><br>
  <%= "Chosen airport arrival: #{@flight.arrival.name}" %><br><br>
<% end %>

<%= form_with model: @booking do |form| %>
  <ul>
    <%= form.fields_for :passengers do |passenger_form| %>
      <li>
        <%= passenger_form.label :email %>
        <%= passenger_form.text_field :email %>

        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name %>
      </li>
    <% end %>
  </ul>
  <%= form.submit "Book" %>
<% end %>
