<p style="color: green"><%= notice %></p>

<%= "Booking: #{@booking.id}" %><br><br>
<%= "Flight: #{@booking.flight_id}" %><br><br>
<% @booking.passengers.each do |passenger| %>
  <%= "Passenger Name: #{passenger.name}" %><br><br>
  <%= "Passenger Email: #{passenger.email}" %><br><br>
<% end %>


